.gradle/
build/
out/
run/
run-data/
logs/
crash-reports/
saves/
usercache.json
options.txt
.mixin.out/
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
bin/
*.class
.DS_Store
Thumbs.db
libs/